.player{
    width: 1000px;
    display: block;
    color: black;
    border-radius: 10px;
}

.audio-player{
    width: 300px;
    margin: 20px auto;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 40px;
    padding: 10px;
    margin-top: 20px;
}
button{
    background-color:#4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}