@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  
}

.social-login {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}

.social-login button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  font-size: 14px;
  border-color:2px solid #d3d3d3;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
}
.social-login button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #d3d3d3;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
  background-color: transparent;
  color: white;
}

.btn-google {
  border-color: #ccc;
}

.btn-apple {
  background-color: transparent;
  color: #fff;
}

.btn-apple:hover {
  background-color: #222;
  transform: scale(1.02);
}

.btn-facebook {
  background-color: #3b5998;
  color: white;
  border: 1px solid white; /* Adicionando borda com a cor do Facebook */
}

.btn-facebook:hover {
  background-color: #3b5998;
  color: white;
  transform: scale(1.02);
}

.btn-phone {
  background-color: transparent;
  color: white;
  border: 2px solid #25d366; /* Cor de borda do celular */
}

.btn-phone:hover {
  background-color: #25d366;
  color: white;
  transform: scale(1.02);
}

.social-login button img {
  width: 20px;
  height: 20px;
  display: block;
}

.icon {
  width: 55px;
  height: auto;
  display: block;
  margin: 2px auto;
}



.btn-google {
  color: white;
  border: 2px solid #ccc;
  background-color:transparent;
}

.btn-google:hover {
  transform: scale(1.02);
}

.btn-google img,
.btn-apple img,
.btn-facebook
.btn-phone {
  width: 20px;
  height: 20px;
}

.btn-apple {
  margin-top: 3px;
  background-color:transparent;
  color: #fff;
}

.btn-apple:hover {
  background-color: #222;
  transform: scale(1.02);
}



body {
  background-image: url("../img/login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.card {
  background:#000e00 ;
  padding: 7%;
  border-radius: 2%;
  width: 100%;
  max-width: 400px;
}

h1{
  text-align: center;
  margin-bottom: 20px;
  color:#d3d3d3;
}

.label-float input {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-bottom: 2px solid #d3d3d3;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border-radius: 4px 4px 0 0;
  transition: border-color 0.3s;
}

.label-float{
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.label-float input:focus{
  border-bottom: 2px solid #d3d3d3;
}

.label-float label{
  color: #d3d3d3;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label{
  font-size: 13px;
  margin-top: 0;
  color: #4038a0
}

button {
  width: 100%;
  padding: 10px;
  background-color:#1DB954;
  border: 1px #1DB954;
  color:black;
  font-weight: bold;
  border-radius: 15px;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

.justify-center{
  display: flex;
  justify-content: center;
}

hr{
  margin-top: 10%;
  margin-bottom: 10%;
  width: 60%;
}

p{
  color: white;
  font-size: 13pt;
  text-align: center;
}

a {
  color: white;
  font-weight: bold;
  transition: all .3s ease-out;
}


a:hover{
  color: #1DB954;
}

.fa-eye{
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
}

 #msgError{
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
}
.icon {
  width: 55px;
  height: auto;
  display: block;
  margin: 2px auto;
}
.btn-facebook {
  background-color:transparent;
  color: white;
  border: 12px white;
}

.btn-facebook:hover {
  background-color:transparent;
  transform: scale(1.02);
}

.btn-phone {
  background-color: transparent;
  color: white;
  border: 1px white;

}

.btn-phone:hover {
  transform: scale(1.02);
}